.list-group-item {
    background: black;
    color: white;
    font-family: 'Skranji', cursive;
}
.container {
    position: absolute;
    border-style: transparent;
    border-width: 0px;
    left: 5px;
    width: 1356px;
    height: 758px;
    background-image: url('../../assets/images/map.jpg');
    background-size: 1356px 775px;
}